@import '../../styles/tachyons-vars.scss';

body, p{
    margin:0px;
}

.wrapper{
    height:100vh;
    background-color:$moon-gray;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(20,1fr);
    overflow: hidden;
}

.userData{
    grid-column: 1/5;
    grid-row:1/4;
    z-index: $z-level-1;
    position: relative;
    left:0px;
    top:0px;
    transition: left background height;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    height:100%;

    background: rgba(112,81,246,1);
    &[data-showing="false"]{
        left: -35%;
        background: rgba(112,81,246,0.3);
        height:10%;
        min-height:50px;
        overflow: hidden;

    }
}

.mainContent{
    grid-column: 1/11;
    grid-row:1/18;
    z-index: $z-level-0;
    overflow:auto;
}

.header{
    grid-column:1/11;
    grid-row:17/21;
    z-index: $z-level-1;
}