@import '../../styles/tachyons-vars.scss';

.wrapper{
  height:100%;
  display:grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(6,1fr);
  box-shadow: $box-shadow-3
}

.bodyContent{
  grid-row:1/7;
  grid-column:1/9;
}

.rightContent{
  grid-row:1/7;
  grid-column:12/13;
}
.dontFade{
  height:100%;
  background: rgba(112,81,246,1);

}
.toggleIcon{
  transition: transform 500ms ease-in-out;
  font-size: 1.5rem;

}
.spin{
  transform: rotate(-180deg);
  transition: transform 500ms ease-in-out;
}